{% extends "layout.htm" %}
{% block title %}Browse products database{% endblock %}
{% block body %}
<h2>Browse database</h2>
<form id="search_form">
    <input class="form-control" type="search" id="search_field" name="search_field">
</form>

<table class="table">
    <tr>
        <th> Product: </th>
        <th> Calories </th>
        <th> Fats </th>
        <th> Carbs </th>
        <th> Proteins </th>
        <th> Recipe </th>
        <th> Edit </th>
        <th> Delete entry </th>
    </tr>
{% for product in products %}

    <tr>
        <td> {{product["product_name"]}} </td>
        <td> {{product["calories"]}}kcal </td>
        <td> {{product["fats"]}}g </td>
        <td> {{product["carbohydrates"]}}g </td>
        <td> {{product["proteins"]}}g </td>
        {% if product["is_recipe"] == 1 %}
        <td> R </td>
        {% else %}
        <td>   </td>
        {% endif %}
        <td><a href="{{url_for('editproduct')}}?id={{product['id']}}">Edit</a></td>
        <td><form action="{{url_for('browsedatabase')}}" method="post"><button class="btn-close" id="product_to_delete" name="product_to_delete" value="{{product[0]}}"></button></form></td>
    </tr>

{% endfor %}
</table>


<script>
    document.getElementById("search_field").oninput( function()
    {
        document.getElementById("search_form").submit()
    });
</script>
{% endblock %}