{% extends "layout.htm" %}
{% block title %}
Edit meal
{% endblock %}
{% block body %}
<h2>Edit meal</h2>

<div class="m-1 p-1 container bg-body-secondary rounded-2 mx-auto">
    <div class="row g-1">
        <div class="col">
            {{product["product_name"]}}
        </div>
    </div>
    <div class="row g-1 justify-content-center text-center">
        <div class="col-3">
            <div class="text-bg-secondary rounded-1">kcal/100g</div>
        </div>
        <div class="col-3">
            <div class="text-bg-secondary rounded-1">Fats</div>
        </div>
        <div class="col-3">
            <div class="text-bg-secondary rounded-1">Carbs</div>
        </div>
        <div class="col-3">
            <div class="text-bg-secondary rounded-1">Proteins</div>
        </div>
    </div>
    <div class="row g-1 justify-content-center text-center">
        <div class="col-3">
            <div class="text-bg-light rounded-1">{{product["calories"]}}kcal</div>
        </div>
        <div class="col-3">
            <div class="text-bg-light rounded-1">{{product["fats"]}}g</div>
        </div>
        <div class="col-3">
            <div class="text-bg-light rounded-1">{{product["carbohydrates"]}}g</div>
        </div>
        <div class="col-3">
            <div class="text-bg-light rounded-1">{{product["proteins"]}}g</div>
        </div>
    </div>
    <form action="{{url_for('editmeal')}}", method="post">
        <div class="row g-1 mt-1">
            <div class="col">
                <input class="form-control" name="meal_calories_indicator" id="meal_calories_indicator" type="text" placeholder="Resulting calories (kcal)" disabled>
            </div>
        </div>
        <div class="row g-1 mt-1">
            <div class="col">
                <input class="form-control" autocomplete="off"
                    autofocus="on" type="number"
                    step="0.1" name="weight"
                    id="weight" min="0.0"
                    placeholder="Weight (g)"
                    value="{{meal['weight']}}">
            </div>
            <div class="col">
                <button class="btn btn-primary" type="submit">Confirm change</button>
            </div>
        </div>
    </form>
</div>
<script>
    let meal_calories = 0.0;

    addEventListener("DOMContentLoaded", calculate_calories())
    document.getElementById("weight").oninput = function () {calculate_calories()}

    function calculate_calories(){
        meal_calories = {{product["calories"]}}/100.0 * document.getElementById("weight").value;
        meal_calories = meal_calories.toFixed(2);
        document.getElementById("meal_calories_indicator").value = meal_calories + "kcal";
    }
</script>

<nav class="navbar fixed-bottom mt-5 bg-primary-subtle">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Calories today: {{calories_today}}</a>
    </div>
</nav>
{% endblock %}