{% extends "layout.htm" %}
{% block title %}Scan Barcode{% endblock %}
{% block body %}
<!-- The functionality of scanning the barcodes is provided by https://github.com/mebjas/html5-qrcode -->
<div id="reader"></div>

<form action="{{url_for('scanbarcode')}}" method="post" id="barcode_form">
    <input type="hidden" id="barcode_request_origin" name="barcode_request_origin" value="{{barcode_request_origin}}">
    <input class="form-control" type="text" id="barcode" name="barcode" value="">
</form>

<script src="https://unpkg.com/html5-qrcode" type="text/javascript"></script>
<script>
function onScanSuccess(decodedText, decodedResult) {
  // handle the scanned code as you like, for example:
  var context = new AudioContext();
  var oscillator = context.createOscillator();
  oscillator.type = "sine";
  oscillator.frequency.value = 800;
  oscillator.connect(context.destination);
  oscillator.start(); 
  // Beep for 500 milliseconds
  setTimeout(function () {
      oscillator.stop();
  }, 100);

  document.getElementById("barcode").setAttribute('value', decodedResult.decodedText);
  console.log(`Code matched = ${decodedText}`, decodedResult);

  html5QrCode.stop();
  // source: https://stackoverflow.com/a/29641185
  setTimeout(document.getElementById("barcode_form").submit(),1000);
}

function onScanFailure(error) {
  // handle scan failure, usually better to ignore and keep scanning.
  // for example:
  console.warn(`Code scan error = ${error}`);
}

const html5QrCode = new Html5Qrcode("reader");
const config = {fps: 10, qrbox: { width: 250, height:250 } };
var cameraId = null;
Html5Qrcode.getCameras().then(devices => {
  /**
   * devices would be an array of objects of type:
   * { id: "id", label: "label" }
   */
  if (devices && devices.length) {
    var cameraId = devices[0].id;
    // .. use this to start scanning.
  }}).catch(err => {
    console.log("Couldn't get cameras");
  });
console.log(cameraId);
html5QrCode.start({deviceId: {exact: "cameraId"}}, config, onScanSuccess, onScanFailure);
//let html5QrcodeScanner = new Html5QrcodeScanner(
//  "reader",
//  { fps: 10, qrbox: {width: 250, height: 250},
//  /* verbose= */ false);
//html5QrcodeScanner.render(onScanSuccess, onScanFailure); 
</script>
{% endblock %}